* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(159, 195, 202);
}

.fundo {
    width: 27%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
}
img {
    border-radius: 10px;
    width: 400px;
    margin: auto 
}

h1 {
    font-size: 30px;
    color: rgb(2, 2, 46);
    text-align: center;
}

h2 {
    font-size: 20px;
    color: dimgray;
    text-align: center;
}


